<h1>Places</h1>

<p>Your Places:</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.location() %></li>
  <% end %>
</ul>

<p>Create a new Place:</p>

<form action="/places" method="post">
  <label for="location">Place Location</label>
  <input id="location" name="location" type="text">

  <button type="submit">GO!</button>
</form>
